<footer class="footer">
  <div class="container">
      <div class="row">
          <nav class="footer-nav">
          <img src="../../assets/img/iliade-removebg-preview.png" alt="Logo"> 
              <ul>
                  <li><a href="https://www.creative-tim.com">Home</a></li>
                  <li><a href="app-about">About us</a></li>
                  <li><a href="https://www.creative-tim.com/license">Contact</a></li>
              </ul>
          </nav>
          <div class="credits ml-auto">
          </div>
      </div>
  </div>
</footer>
